# CLASSIFICATION


INTRODUCTION

My name is Nnaemeka Obinna Chinke. I’m a data scientist and Physicist with knowledge in Excel, SQL, Power BI, Python and R programming in manipulating data for insightful decisions. With the task of completing the Data Science course at SeedBuilders Academy, the task is to use the datasets made available to analyze, make prediction and to visualize the data. With these, I will be introducing my Classification model project at SeedBuilders.

# Importing Libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Load Dataset

In [6]:
wine = pd.read_csv("wines_SPA2.csv")
wine.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [7]:
wine.describe

<bound method NDFrame.describe of                     winery             wine  year  rating  num_reviews  \
0            Teso La Monja            Tinto  2013     4.9           58
1                   Artadi    Vina El Pison  2018     4.9           31
2             Vega Sicilia            Unico  2009     4.8         1793
3             Vega Sicilia            Unico  1999     4.8         1705
4             Vega Sicilia            Unico  1996     4.8         1309
...                    ...              ...   ...     ...          ...
7495               Contino          Reserva  2016     4.2          392
7496  Conreria d'Scala Dei    Les Brugueres  2018     4.2          390
7497           Mustiguillo  Finca Terrerazo  2017     4.2          390
7498           Matarromera     Gran Reserva  2011     4.2          389
7499              Sei Solo         Preludio  2016     4.2          388

     country            region   price                  type  body  acidity
0     Espana              Toro  995.00              Toro Red   5.0      3.0
1     Espana    Vino de Espana  313.50           Tempranillo   4.0      2.0
2     Espana  Ribera del Duero  324.95  Ribera Del Duero Red   5.0      3.0
3     Espana  Ribera del Duero  692.96  Ribera Del Duero Red   5.0      3.0
4     Espana  Ribera del Duero  778.06  Ribera Del Duero Red   5.0      3.0
...      ...               ...     ...                   ...   ...      ...
7495  Espana             Rioja   19.98             Rioja Red   4.0      3.0
7496  Espana          Priorato   16.76           Priorat Red   4.0      3.0
7497  Espana      El Terrerazo   24.45                   Red   4.0      3.0
7498  Espana  Ribera del Duero   64.50  Ribera Del Duero Red   5.0      3.0
7499  Espana  Ribera del Duero   31.63  Ribera Del Duero Red   5.0      3.0

[7500 rows x 11 columns]>

In [8]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       7500 non-null   object
 1   wine         7500 non-null   object
 2   year         7498 non-null   object
 3   rating       7500 non-null   float64
 4   num_reviews  7500 non-null   int64
 5   country      7500 non-null   object
 6   region       7500 non-null   object
 7   price        7500 non-null   float64
 8   type         6955 non-null   object
 9   body         6331 non-null   float64
 10  acidity      6331 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 644.7+ KB

# Dropping all Non-numerical columns

In [9]:
wine.drop(["winery", "wine", "year", "region", "country", "type"], axis = "columns", inplace = True)

wine.head()

   rating  num_reviews   price  body  acidity
0     4.9           58  995.00   5.0      3.0
1     4.9           31  313.50   4.0      2.0
2     4.8         1793  324.95   5.0      3.0
3     4.8         1705  692.96   5.0      3.0
4     4.8         1309  778.06   5.0      3.0

In [10]:
wine.dropna()

      rating  num_reviews   price  body  acidity
0        4.9           58  995.00   5.0      3.0
1        4.9           31  313.50   4.0      2.0
2        4.8         1793  324.95   5.0      3.0
3        4.8         1705  692.96   5.0      3.0
4        4.8         1309  778.06   5.0      3.0
...      ...          ...     ...   ...      ...
7495     4.2          392   19.98   4.0      3.0
7496     4.2          390   16.76   4.0      3.0
7497     4.2          390   24.45   4.0      3.0
7498     4.2          389   64.50   5.0      3.0
7499     4.2          388   31.63   5.0      3.0

[6331 rows x 5 columns]

# Import Train_Test split

We import train/test split to fit the data into two variables X and Y.

In [11]:
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [12]:
x = wine.drop('acidity', axis=1)
y = wine['acidity']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=99)

In [13]:
x_train = x_train.dropna()

x_train

      rating  num_reviews   price  body
2907     4.2          410   13.58   4.0
432      4.5          229   39.00   5.0
4278     4.2          420   28.30   4.0
1000     4.4           52  119.00   5.0
6725     4.2          421   29.15   3.0
...      ...          ...     ...   ...
1737     4.3           35   45.00   4.0
3240     4.2          402   28.53   4.0
5305     4.2          415   17.90   3.0
7203     4.2          420   23.95   4.0
4737     4.2          405    7.10   4.0

[4424 rows x 4 columns]

In [14]:
y_train = y_train.dropna()

y_train

2907    3.0
432     3.0
4278    3.0
1000    3.0
6725    3.0
       ...
1737    3.0
3240    3.0
5305    3.0
7203    3.0
4737    3.0
Name: acidity, Length: 4424, dtype: float64

In [15]:
x_test = x_test.dropna()

x_test

      rating  num_reviews  price  body
2658     4.2          412  37.90   5.0
7352     4.2          420  18.90   4.0
6252     4.2          420  18.90   4.0
2512     4.2          405   7.10   4.0
373      4.5         1864  33.25   5.0
...      ...          ...    ...   ...
4853     4.2          420  28.30   4.0
2693     4.2          395  61.94   4.0
7259     4.2          412  37.90   5.0
3232     4.2          410  13.58   4.0
4121     4.2          390  24.45   4.0

[1907 rows x 4 columns]

In [16]:
y_test = y_test.dropna()

y_test

2658    3.0
7352    3.0
6252    3.0
2512    3.0
373     3.0
       ...
4853    3.0
2693    3.0
7259    3.0
3232    3.0
4121    3.0
Name: acidity, Length: 1907, dtype: float64

# PREDICTING THE MODELS
In predicting models, we use numerous algorithms in classifications. Using my top four which are
- Logestic Regression
- Random forest classifer
- Bagging classifier
- Decision tree classifer

In [17]:
from sklearn.metrics import accuracy_score, f1_score

# LOGISTIC REGRESSION

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
lr = LogisticRegression()

lr.fit(x_train, y_train)

LogisticRegression()

In [20]:
lr_pred = lr.predict(x_test)
lr_acc = accuracy_score(y_test, lr_pred)
print("Training accuracy for Logistic Regression: ", round(lr.score(x_train, y_train)*100), "%")
print("Testing accuracy for Logistic Regression:", round(lr_acc*100, 2), "%")

Training accuracy for Logistic Regression:  96 %
Testing accuracy for Logistic Regression: 94.49 %

# RANDOM FOREST CLASSIFIER

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
rfc_pred = rfc.predict(x_test)
rfc_acc = accuracy_score(y_test, rfc_pred)
print("The training accuracy for Random Forest is:", round(rfc.score(x_train, y_train)*100,2), "%")
print("The testing accuracy for Random Forest is:", round(rfc_acc * 100,2), "%")

The training accuracy for Random Forest is: 100.0 %
The testing accuracy for Random Forest is: 98.32 %

# BAGGING CLASSIFIER

In [23]:
from sklearn.ensemble import BaggingClassifier

In [24]:
bc = BaggingClassifier()
bc.fit(x_train, y_train)
bc_pred = bc.predict(x_test)
bc_acc = accuracy_score(y_test, bc_pred)
print("The training accuracy for bagging classifier is:", round(bc.score(x_train, y_train)*100,2), "%")
print("The testing accuracy for bagging classifier is:", round(bc_acc * 100,2), "%")

The training accuracy for bagging classifier is: 99.86 %
The testing accuracy for bagging classifier is: 97.85 %

# DECISION TREE CLASSIFIER

In [25]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
dtc = DecisionTreeClassifier()
dtc.fit(x_train, y_train)
dtc_pred = dtc.predict(x_test)
dtc_acc = accuracy_score(y_test, dtc_pred)
print("The training accuracy for decision tree classifier is:", round(dtc.score(x_train, y_train)*100,2), "%")
print("The testing accuracy for decision tree classifier is:", round(dtc_acc * 100,2), "%")

The training accuracy for decision tree classifier is: 100.0 %
The testing accuracy for decision tree classifier is: 97.33 %